<footer>
    <div class="container-o">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="footer-left">
                <img src="/images/logo.png" alt="Oakland Agency Logo">
                <ul>
                    <li><p><a href="http://instagram.com" target="_blank">Instagram</a></p></li>
                    <li><p><a href="http://instagram.com" target="_blank">Facebook</a></p></li>
                </ul>
                
                
            </div>
          </div>
          <div class="col-12 col-sm-6 align-self-end">
            <div class="footer-right">
                <p>&copy; Copyright Oakland Agency 2022</p>
            </div>
          </div>
        </div>
    </div>
</footer>

