{% extends "base.html" %} {% block content %}
<div id="top"></div>
<div class="container-o hero">
  <div class="row">
    <div class="col-12">
      <h1>Oakland<br/>Agency</h1>
      <div id="basic-waypoint"></div>
    </div>
  </div>
</div>

<div id="about" class="container-o">
  <div class="row">
    <div class="col-12">
      <h2>About</h2>
      <p>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/></p>
    </div>
  </div>
</div>

<div>
  <h2>Section 2</h2>
  <p>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/></p>
</div>
{% endblock %}
